{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "dist",
        "docs",
        "lib"
    ],
    "reporter": [
        "text-lcov",
        "text-summary"
    ],
    "all": true
}
