{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "src/*"
    ],
    "exclude": [
        "dist",
        "docs",
        "coverage",
        "lib"
    ],
    "reporter": [
        "html",
        "text-summary"
    ],
    "cache": true,
    "sourceMap": false,
    "instrument": false
}